.white_circle,
.yellow_circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white_circle {
  border: 2px solid var(--secondaryColor);
}

.yellow_circle {
  color: var(--primaryColorLight);
  background-color: var(--alertColor);
}

.alert_text {
  color: var(--alertColor);
}
