.container {
  background-color: var(--primaryColorDark);
}

.animationContainer {
  box-shadow: 0 0 30px var(--secondaryColor);
  border-radius: var(--borderRadiusBig) var(--borderRadiusBig) 0 0;
}

@media only screen and (min-width: 1024px) {
  .animationContainer {
    box-shadow: none;
    border-radius: 0;
  }
}
