.card {
  width: 300px;
  height: 200px;
  position: relative;
  background-color: var(--primaryColorLight);
  border-radius: var(--borderRadiusRegular);
  overflow: hidden;
}

.card::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 120px;
  height: 120px;
  background-color: var(--alertColor);
  border-radius: 50%;
}
