.modal {
  background-color: rgba(000, 000, 000, 0.8);
}

.closeBtn {
  padding: 0.2rem 0.5rem;
  color: var(--alertColor);
  background-color: var(--primaryColorLight);
  border-radius: var(--borderRadiusSmall);
}

.container {
  color: var(--primaryColorLight);
  background-color: var(--secondaryColor);
  border-radius: var(--borderRadiusRegular);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inhaleTime,
.apneaBtn {
  color: var(--alertColor);
  background-color: var(--primaryColorLight);
  border-radius: var(--borderRadiusSmall);
  text-align: center;
}

.inhaleTime {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  font-size: 4rem;
}

.inhaleTime::-webkit-outer-spin-button,
.inhaleTime::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inhaleTime[type="number"] {
  -moz-appearance: textfield;
}

.apneaBtn {
  padding: 1.5rem 1rem;
}

.selected {
  background-color: var(--secondaryColorDark);
}
